body {
  background-image:url('nyc_background.jpg');
  font-family: impact;
}
.wrapper {
  max-width: 960px;
  margin: 0 auto;
  background-color:rgba(255,255,255,0.9);
}

nav {
margin: 0px auto;  
}

a {
  text-decoration: none;
  font-family: helvetica;
  font-weight: bold;
}

a:hover {
  color: gray;
}

.button {
  display:inline-block;
  padding:5px;
  background:rgb(255,255,24);
  border-radius: 10px;
  width: 8%;
  text-align: center;
}

header {
  height: 90px;
  background-color: black;
  text-align: center;
  color: white;
  padding: 10px;
}

header img {
  height: 55px;
  display: block;
  float: left;
}

main {
  padding: 20px;
}

article {
  margin:5px 5px 10px 5px;
}

hr {
  margin-top: 0px;
}
.action {
  text-align: center;
  width:60px;
}

.login {
  width:150px;
  float: right;
  vertical-align: top;
}

.courseimage,
.coursedates
 {
  width:25%;
  float:left;
}

.coursedescription{
  width:50%;
  float:left;
}

.courseimage img{
  width:100%;
}

/*.coursedates{
  width:25%;
  float:left;
}*/

.new_course {
  text-align: center
}

.userlogin {
  text-align: center;
  margin: 0 auto;
}

/*.actions {
  text-align: center;
  margin: 0 auto;
}*/

.box {
  text-align: center;
  margin: 0 auto;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

h1 {
  text-align: center;
}